@import "bootstrap";


@font-face {
    font-family: 'CustomSymbols';
    src: url('public/fonts/CustomSymbols.eot');
    src: url('public/fonts/CustomSymbols.eot?#iefix') format('embedded-opentype'),
         url('public/fonts/CustomSymbols.woff') format('woff'),
         url('public/fonts/CustomSymbols.ttf') format('truetype'),
         url('public/fonts/CustomSymbols.svg#CustomSymbols') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PPRightGrotesk-SpatialBlack';
    src: url('public/fonts/PPRightGrotesk-SpatialBlack.eot');
    src: url('public/fonts/PPRightGrotesk-SpatialBlack.eot?#iefix') format('embedded-opentype'),
         url('public/fonts/PPRightGrotesk-SpatialBlack.woff') format('woff'),
         url('public/fonts/PPRightGrotesk-SpatialBlack.ttf') format('truetype'),
         url('public/fonts/PPRightGrotesk-SpatialBlack.svg#PPRightGrotesk-SpatialBlack') format('svg'),
         url('public/fonts/PPRightGrotesk-SpatialBlack.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OnestMedium';
    src: url('public/fonts/Onest.eot');
    src: url('public/fonts/Onest.eot?#iefix') format('embedded-opentype'),
         url('public/fonts/Onest.otf') format('otf'),
         url('public/fonts/Onest.svg#Onest') format('svg'),
         url('public/fonts/Onest.woff') format('woff'),
         url('public/fonts/Onest.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OnestRegular';
    src: url('public/fonts/Onest.eot');
    src: url('public/fonts/Onest.eot?#iefix') format('embedded-opentype'),
         url('public/fonts/Onest.otf') format('otf'),
         url('public/fonts/Onest.svg#Onest') format('svg'),
         url('public/fonts/Onest.woff') format('woff'),
         url('public/fonts/Onest.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
    font-size: 16px;
    font-family: 'OnestRegular', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $text-color;
}   

[class*='icon-']:before{
   font-family: 'CustomSymbols';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   @extend %display_grid;
}
.icon-arrowBack:before{content:'\0041';}
.icon-speaker:before{content:'\0042';}
.icon-brush:before{content:'\0043';}
.icon-gear:before{content:'\0044';}
.icon-FirstAidKit:before{content:'\0045';}
.icon-compas:before{content:'\0046';}
.icon-globus:before{content:'\0047';}
.icon-group:before{content:'\0048';}
.icon-star:before{content:'\0049';}
.icon-cross:before{content:'\004a';}
.icon-logo:before{content:'\004b';}
.icon-contact:before{content:'\004c';}
.icon-caretRight:before{content:'\004d';}
.icon-vk:before{content:'\004e';}
.icon-unhide:before{content:'\004f';}
.icon-lang:before{content:'\0050';}
.icon-house:before{content:'\0051';}
.icon-graph:before{content:'\0052';}
.icon-case:before{content:'\0053';}
.icon-sh:before{content:'\0054';}
.icon-circles:before{content:'\0055';}
.icon-menu:before{content:'\0056';}

* {
    box-sizing: border-box;
    background: 0;
    border: none;
    appearance: none;
    margin: 0;
    padding: 0;
}

.disabled {
    opacity: 0.4;
}

.slider {
    overflow: auto;
    column-gap: 2rem;
    grid-auto-flow: column;
    @extend %display_grid;
}

.slider__card {
    grid-template-areas: 
        "image image image"
        "title title title"
        "star score voters";
    max-width: 100%;
    @extend %display_grid;
}

.slider__card {
    @extend %display_grid;
}

main {
    padding-top: 2rem;
    row-gap: 4rem;
    grid-auto-flow: row;
    @extend %display_grid;
}

.home__title {
    text-align: center;
    row-gap: 1rem;
    @extend %justify_items_center;
    @extend %display_grid;
}

.home__title__prim {
    max-width: 62rem;
}

.home__title__sub {
    max-width: 36rem;
}

.home__title p {
    opacity: .7;
}

h1,
.text-size-h1 {
    font-size: 4rem;
    font-weight: 900;
}

h2,
.text-size-h2 {
    font-size: 3rem;
    font-weight: 900;
}

h3,
.text-size-h3 {
    font-size: 2rem;
    font-weight: 900;
}

h1, h2, h3,
.text-size-h1,
.text-size-h2,
.text-size-h3 {
    font-family: 'PPRightGrotesk-SpatialBlack', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-size-m40 {
    font-size: 2.5rem;
    font-weight: 500;
}

.text-size-m24 {
    font-size: 1.5rem;
    font-weight: 500;
}

.text-size-m20 {
    font-size: 1.25rem;
    font-weight: 500;
}

.text-size-m18 {
    font-size: 1.125rem;
    font-weight: 500;
}

.text-size-m16 {
    font-size: 1rem;
    font-weight: 500;
}

.text-size-m16,
.text-size-m18,
.text-size-m20,
.text-size-m24,
.text-size-m40 {
    font-family: 'OnestMedium', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-size-r40 {
    font-size: 2.5rem;
    font-weight: 400;
}

.text-size-r24 {
    font-size: 1.5rem;
    font-weight: 400;
}

.text-size-r20 {
    font-size: 1.25rem;
    font-weight: 400;
}

.text-size-r18 {
    font-size: 1.125rem;
    font-weight: 400;
}

.text-size-r16 {
    font-size: 1rem;
    font-weight: 400;
}

.text-size-r16,
.text-size-r18,
.text-size-r20,
.text-size-r24,
.text-size-r40 {
    font-family: 'OnestRegular', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p, a {
    font-size: 1rem;
}

a {
    color: $accent-color;
}

small,
.text-size-small {
    font-size: 0.875rem;
    font-weight: 500;
}

#panorama {
    width: 100%;
    height: 50vh;
}

.button {
    width: max-content;
    border-radius: $radius;
    padding-inline: 1.25rem;
    grid-auto-flow: column;
    column-gap: 0.75rem;
    transition: transform $fast-transition $default-timing-function;
    @extend %user_select_none;
    @extend %pointer;
    @extend %display_grid;
    @extend %align_content_center;
    @extend %relative;
}

.button::after {
    border-radius: calc(#{$radius} - 0.2rem);
    background: $hover-color;
    transition: opacity $default-transition $default-timing-function;
    @extend %absolute_zero;
    @extend %opacity_0;
    @extend %pseudo_props;
}

@media screen and (hover:hover) {
    .button:hover::after {
        opacity: 1;
    }
}

.button:active {
    transform: scale(0.95);
}

.button.base {
    border: 0.1rem solid $base-border-color;
    background: $primary-color;
}

.button.no-border {
    border: none !important;
}

.button.accent {
    color: $primary-color;
    background: $accent-color;
}

html, body {
    grid-template-rows: 4rem 1fr;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: transparent;
    @extend %overflow_hidden;
    @extend %display_grid;
}

header {
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr min-content;
    column-gap: 2rem;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    background: $base-color;
    @extend %align_content_center;
    @extend %display_grid;
}

.header__logo {
    color: $accent-color;
    font-size: 8rem;
    height: 3rem;
    @extend %pointer;
    @extend %align_content_center;
    @extend %display_grid;
}

nav,
.header__login-buttons {
    grid-auto-flow: column;
    column-gap: 1rem;
    @extend %display_grid;
}

nav {
    grid-template-columns: min-content 1fr;
}

.header__login-buttons {
    grid-auto-columns: min-content;
    
}

.footer {
    @extend %display_grid;
}

.input {
    padding-inline: 1.5rem;
    border-radius: $radius;
    background: $primary-color;
    @extend %display_grid;
}

.input__field {
    outline: none;
}

.shadow-toggle {
    @extend %invisible;
}

.login {
    width: 100vw;
    height: 100vh;
    @extend %absolute_zero;
    @extend %display_grid;
}

.login__wrapper {
    row-gap: 1rem;
    text-align: center;
    border-radius: 0.75rem;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    padding: 4rem;
    align-self: center;
    background: $base-color;
    justify-self: center;
    padding: 4rem;
    @extend %display_grid;
    @extend %relative;
}

.login__back-button {
    top: 0.5rem; left: 0.5rem;
    padding: 0.8rem;
    background: transparent !important;
    position: absolute !important;
}

.login__form {
    align-self: center;
    justify-self: center;
    grid-auto-flow: row;
    row-gap: 1rem;
    @extend %display_grid;
}

.login__form__input {
    border: 0.1rem solid transparent;
    transition: border-color $default-transition $default-timing-function;
    padding: 1rem 2rem;
}

.login__form__input:has(.input__field:focus) {
    border-color: $accent-color;
}

.login__form__button {
    width: 100%;
    padding: 1rem 1.5rem;
}

.bread-crumbs {
    grid-auto-flow: column;
    column-gap: 1rem;
    @extend %display_grid;
}

